---
import { supabase } from "../lib/supabase";

const { data: topics, error } = await supabase.from("topics").select("*");

if (error) {
	console.error("error:", error);
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<h1>Home</h1>
	<body>
		<ul>
			{
				topics != null ? (
					topics.map((topic) => (
						<li>
							<a href={`/topics/${topic.id}`}>{topic.title}</a>
						</li>
					))
				) : (
					<p>No topics to display</p>
				)
			}
		</ul>
	</body>
</html>
