---
import { supabase } from "../lib/supabase";

const { data: topics, error } = await supabase.from("topics").select("*");

if (error) {
	console.error("error:", error);
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Topics</h1>
		{
			topics && topics.length > 0 ? (
				<ul>
					{topics.map((topic) => (
						<li>{topic.title}</li>
					))}
				</ul>
			) : (
				<p>
					No topics found (or there was an error — check your
					terminal).
				</p>
			)
		}
	</body>
</html>
